
*{
	margin: 0;
	padding: 0;
	
}

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: #e5e9eb;
}

header{
	width: 1030px;
	height: 90px;
	background: #295aca;
	color: #f1f9fc;
	border-radius:0 0 20px 20px;
	line-height: 90px;
	margin: 0 auto;
}
header h1{
	font-family:'Droid Serif';
	font-style: italic;
	font-size:35pt;
	display: inline;
	margin-left: 26px;
}
header p{
	float: right;
	font-size:21pt;
	margin-right: 35px;
}
header img{
	position:relative;
	top:10px;
}

/*Обертка*/
.wrapper{
	position:relative;
	width: 960px;
	min-height: 1020px;
	margin:0 auto;
	background: #fff;

}

/*МЕНЮ*/
menu{
	font-size:12pt;
	padding: 25px 0px 50px 20px;
	width: 50%;
}

menu li{
	display: inline-block;
	list-style:none;
}

menu a {
	text-decoration: none;
	color:#111;
	margin-right: 17px;
	padding:10px 16px;
	border-radius:7px;
}

menu a.active{
	background: #cce6f0;
}

menu a:hover{
	background: #cce6f0;
}
/*КОНЕЦ МЕНЮ*/


/*НАЧАЛО .CONTENT*/
.content{
	font-size:11pt;
}

.content{
	width: 600px;
	margin: 0px 0px 0px 20px;
	float: left;
	font-size:10pt;
}

.content p.above{
	margin: 20px 0;
}

/*НАЧАЛО СЛАИДЕРА*/

/*Характеристики для общего блока*/
#slider {
max-width: 550px; 
max-height:365px;
margin: 0 auto; 
}

/*Делаем в строчку и задаем ширину для каждого блока с картинкой*/
.page {float: left; width: 33.33%;}

/*Ширина и рамка картинки*/
.page img {width:100%;border:1px solid #1249c5;}

/*Ширина всего блока*/
.inner {width: 300%;}

/*скрываем 2 фотаграфии, на экране 100%, остальные 200% скрыты*/
#overflow {overflow: hidden;}

/*Убираем радио-кнопки*/
#slider input {display: none;}

/*задаем перелистывание картинки, каждые 100% от 300%*/
#slide1:checked ~ #slides .inner { margin-left:0;} 
#slide2:checked ~ #slides .inner { margin-left:-100%;} 
#slide3:checked ~ #slides .inner { margin-left:-200%;} 

/*точки для перелистывания*/
#active {
	margin-top: -40px;
	margin-left: 20px;
}
#active label {
width: 20px;
height:20px;
border:1px double black;
border-radius:50%;
border: none;
background: #b6e4f4;
opacity: 0.65;
display: inline-block;
cursor: pointer;
	}

#active label:hover {
background: #999;
}

/*активная точка для перелистывания*/
#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3)
 { background: #1249c5;}


/*Плавный переход*/
#slides .inner {
transition: all 0.8s ease-in-out;
-webkit-transition: all 0.8s ease-in-out;
-moz-transition: all 0.8s ease-in-out;
-ms-transition: all 0.8s ease-in-out;
-o-transition: all 0.8s ease-in-out;
}

/*КОНЕЦ СЛАИДЕРА*/

/*Начало .article*/
article{
	text-align: center;
	margin-top: 50px;

}

.article{
	max-width: 170px;
	border:1px solid #2e5fcc;
	display: inline-block;
	margin: 20px 10px;
	padding:20px 10px 10px 10px;
	box-sizing:border-box;
	
}

.article p{
	margin:12px 0 30px 0;
}

.article a{
	display:inline-block;
	color:#1249c5;
	padding:12px 25px;
	background:#edf8fc;
	border-radius:10px;
	text-decoration:none;
}

.article a.active{
	color:#fff;
	background:#1249c5;
}

.article a:hover{
	color:#fff;
	background:#1249c5;
}
/*Конец .article*/

/*КОНЕЦ .CONTENT*/


/*Правая секция макета*/
section{
	background: #d8edf5;
	max-width: 320px;
	position:absolute;
	top: 0;
	right: 0;
	min-height: 1020px;
	padding: 95px 20px;
	box-sizing:border-box;
}

section h3{
	margin-bottom: 20px;
}

section img{
	background-clip:content-box;
	padding: 1px;
	border:1px solid #e2eff9;
	outline:1px solid #2e5fcc;
}

section p span{
	max-width:170px;
	vertical-align: top;
	float: right;
	font-size:14px;
	margin-left: 10px;
}

section p:nth-child(3){
	margin-bottom: 40px;
}

section p{
	margin-bottom: 20px;
}
/*Конец правой секции макета*/


.clear{
	clear: both;
}


footer{
	width: 1030px;
	height: 90px;
	background: #000;
	margin:0 auto;
	border-radius:20px 20px 0 0;
	padding: 20px 35px 0 35px;
	box-sizing:border-box;
	display:flex;
	justify-content:space-between;
	color:#fff;
}


footer ul li{
	list-style:none;
	display: inline-block;
	margin-left: 30px;
}

footer li a{
	text-decoration: none;
	color:#fff;
}